[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyinstaller = "*"
zest-releaser = {extras = ["recommended"],version = "*"}
githubrelease = "*"
flake8 = "*"

[packages]
click = "*"
pyyaml = "*"
expandvars = "*"

[requires]
python_version = "3.7"
